<h1>Contacts</h1>
<div class="content">
    <div class="contact" data-id="id">
        <span class="avatar small">&#9787;</span>
        <span class="title">Ivan Ivanov</span>
    </div>

    <div class="contact" data-id="id">
        <span class="avatar small">&#9787;</span>
        <span class="title">Jordan Kirov</span>
    </div>

    <div class="contact" data-id="id">
        <span class="avatar small">&#9787;</span>
        <span class="title">Maria Petrova</span>
    </div>
</div>